<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="'尊敬的'+ ${name} +'，您好：'"></p>
<p th:text="'&emsp;&emsp;' + '您正在申请忘记密码操作，若并非您自己的操作，请注意保护账号安全，可以点击以下链接进入pbms图床重置密码。'"></p>
<p>
    <!--  TODO 链接的uri填前端的uri-->
    &emsp;&emsp;<a href="#" th:href="@{${baseUrl} + '/user/password-page?userId=' + ${userId} + '&code=' + ${code}}">点击我，进入pbms图床修改密码</a>
</p>
<p>
    &emsp;&emsp;<a href="https://gitea.965.life/PBMS">点击了解pbms</a>
</p>
</body>
</html>